﻿@model IEnumerable<Covea.Assessment.Domain.Entities.RiskRates>

<div class="col-md-12 col-sm-12 ">
	<div class="x_panel">
		<div class="x_title">
			<h2>Grade</h2>
			<ul class="nav navbar-right panel_toolbox">
				<li>
					<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="row">
				<div class="col-sm-12">
					<div class="card-box table-responsive">
						<table id="datatable" class="table table-striped table-bordered table-hover" style="width:100%">
							<thead>
								<tr>
									<th>Sum Assured</th>
									<th>Age <= 30</th>
									<th>Age Between 31 and 50 </th>
									<th>Age > 50 </th>
								</tr>
							</thead>


							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>
											£@Html.DisplayFor(modelItem => item.SumAssuredValue)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.AgeLess30)
										</td>
										<td>
											@if (item.AgeBetween31and50 == null)
											{
												<p>Not available</p>
											}
											else
											{
												@Html.DisplayFor(modelItem => item.AgeBetween31and50)
											}

										<td>
											@if (item.AgeMore50 == null)
											{
												<p>Not available</p>
											}
											else
											{
												@Html.DisplayFor(modelItem => item.AgeMore50)
											}

										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>


		<div>
			<div class="x_panel">
				<div class="alert alert-success" role="alert">
					<h2>Sum Assured</h2>
					<div class="clearfix"></div>
				</div>

				<div class="modal-body">
					<div class="form-horizontal">
						<div class="row">
							<div class="x_panel">
								<div class="x_title">
									<h2>@ViewBag.Title</h2>
									<ul class="nav navbar-right panel_toolbox">
										<li>
											<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
										</li>
										<li>
											<a class="close-link"><i class="fa fa-close"></i></a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<br />

									<div class="item form-group">
										<label class="col-form-label col-md-3 col-sm-3 label-align" for="description">
											Sum Assured <span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 ">
											<input type="text" id="txtSumAssured" />
										</div>
									</div>
									<div class="item form-group">
										<label class="col-form-label col-md-3 col-sm-3 label-align" for="details">
											Age <span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 ">
											<input type="text" id="txtAge" />
										</div>
									</div>
									<div class="ln_solid"></div>

									<div class="item form-group">
										<div class="col-md-6 col-sm-6 offset-md-3">
											<input type="button" value="Submit" class="btn btn-success" onclick="Calc(document.getElementById('txtSumAssured').value, document.getElementById('txtAge').value)" />;
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>

<script type="text/javascript">
	function Calc(pSumAssured, pAge) {
		debugger;

		if (pSumAssured == "") {
			toastr['error']('Sum Assured is required');
		}
		else if (pAge == "") {
			toastr['error']('Age is required');
		}

		var data = {
			pSumAssured: pSumAssured,
			pAge: pAge
		}

		$.ajax({
			async: true,
			url: '@Url.Action("Calculate", "RiskRates")',
			type: 'POST',
			data: data,
			datatype: 'json',
			//contentType: 'application/json; charset=utf-8',
			//success: function () {
				
			//}
			success: Message
		});
	}

	function Message(serverresult) {
		debugger;

		if (serverresult.success) {
			toastr.options = {
				"closeButton": false,
				"debug": false,
				"newestOnTop": false,
				"progressBar": false,
				"positionClass": "toast-top-right",
				"preventDuplicates": false,
				"onclick": null,
				"showDuration": "1500",
				"hideDuration": "1500",
				"timeOut": "5000",
				"extendedTimeOut": "1500",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut"
			};

			toastr.success(
				serverresult.message,
				'Add',
				{
					timeOut: 1500,
					fadeOut: 1500
				}
			);
		}
		else {
			toastr['error'](serverresult.message);
		}
	}
</script>
