﻿<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
	<div class="menu_section">
		<h3>General</h3>
		<ul class="nav side-menu">
			<li>
				<a><i class="fa fa-map"></i> Products <span class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li>@Html.ActionLink("Shirts", "Index", "Shirts")</li>
					<li>@Html.ActionLink("Ties", "Index", "Ties")</li>
					<li>@Html.ActionLink("Cufflinks", "Index", "Cufflinks")</li>
					<li>@Html.ActionLink("Carousel", "Index", "Products")</li>
					<li>@Html.ActionLink("Bag", "Index", "Bags")</li>

				</ul>
			</li>


		</ul>
	</div>
</div>
<!-- /sidebar menu -->